# Ex: 2.1

In [38]:
import pandapower as pp

net = pp.create_empty_network(sn_mva=100)

bus0 = pp.create_bus(net, name="bus0", vn_kv=22, type="n")
bus1 = pp.create_bus(net, name="bus1", vn_kv=22, type="b")
bus2 = pp.create_bus(net, name="bus2", vn_kv=11, type="b")
bus3 = pp.create_bus(net, name="bus3", vn_kv=220, type="b")
bus4 = pp.create_bus(net, name="bus4", vn_kv=220, type="b")
bus5 = pp.create_bus(net, name="bus5", vn_kv=110, type="b")
bus6 = pp.create_bus(net, name="bus6", vn_kv=110, type="b")

gen = pp.create_ext_grid(net, bus0, vm_pu=1, name="Gen")

loads = pp.create_load_from_cosphi(net, bus2, sn_mva=57, const_z_percent=100, cos_phi=0.6, mode="underexcited", name="3ph load", scaling=1.108)

Xs = pp.create_impedance(net, from_bus=0, to_bus=1, sn_mva=90, rft_pu=0, xft_pu=0.18, name="Xs")

T1 = pp.create_transformer_from_parameters(net, hv_bus=3, lv_bus=1, sn_mva=50, vn_hv_kv=220, vn_lv_kv=22,vkr_percent=0,vk_percent=10,pfe_kw=0,i0_percent=0, name="T1")
T2 = pp.create_transformer_from_parameters(net, hv_bus=4, lv_bus=2, sn_mva=40, vn_hv_kv=220, vn_lv_kv=11,vkr_percent=0,vk_percent=6,pfe_kw=0,i0_percent=0, name="T2")
T3 = pp.create_transformer_from_parameters(net, hv_bus=5, lv_bus=1, sn_mva=40, vn_hv_kv=110, vn_lv_kv=22,vkr_percent=0,vk_percent=6.4,pfe_kw=0,i0_percent=0, name="T3")
T4 = pp.create_transformer_from_parameters(net, hv_bus=6, lv_bus=2, sn_mva=40, vn_hv_kv=110, vn_lv_kv=11,vkr_percent=0,vk_percent=8,pfe_kw=0,i0_percent=0, name="T4")

l1 = pp.create_line_from_parameters(net, bus3, bus4, length_km=1,r_ohm_per_km=0,x_ohm_per_km=48.4, c_nf_per_km=0, max_i_ka=0.454, name="Line1")
l2 = pp.create_line_from_parameters(net, bus5, bus6, length_km=1,r_ohm_per_km=0,x_ohm_per_km=65.43, c_nf_per_km=0, max_i_ka=0.909,name="Line2")

pp.runpp(net,algorithm="bfsw",max_iteration=100)

In [39]:
net.res_bus

      vm_pu  va_degree       p_mw     q_mvar
0  1.000000   0.000000 -23.608522 -43.905247
1  0.913411  -2.963118   0.000000   0.000000
2  0.789317  -8.602299  23.608522  31.478029
3  0.857254  -5.267696   0.000000   0.000000
4  0.829748  -6.535932   0.000000   0.000000
5  0.890796  -3.849302   0.000000   0.000000
6  0.816132  -7.203060   0.000000   0.000000

In [40]:
net.res_line

,p_from_mw,q_from_mvar,p_to_mw,q_to_mvar,pl_mw,ql_mvar,i_from_ka,i_to_ka,i_ka,vm_from_pu,va_from_degree,vm_to_pu,va_to_degree,loading_percent
0,15.743348,23.753799,-15.743348,-22.648732,0.000000e+00,1.105067,0.087239,0.087239,0.087239,0.857254,-5.267696,0.829748,-6.535932,19.215656
1,7.865174,12.529950,-7.865174,-11.038520,8.881784e-16,1.491430,0.087167,0.087167,0.087167,0.890796,-3.849302,0.816132,-7.203060,9.589333

In [41]:
net.res_load

        p_mw     q_mvar
0  23.608522  31.478029

In [42]:
net.res_trafo

,p_hv_mw,q_hv_mvar,p_lv_mw,q_lv_mvar,pl_mw,ql_mvar,i_hv_ka,i_lv_ka,vm_hv_pu,va_hv_degree,vm_lv_pu,va_lv_degree,loading_percent
0,-15.743348,-23.753799,15.743348,25.963934,0.000000e+00,2.210135,0.087239,0.872391,0.857254,-5.267696,0.913411,-2.963118,66.485108
1,15.743348,22.648732,-15.743348,-20.991131,3.552714e-15,1.657601,0.087239,1.744782,0.829748,-6.535932,0.789317,-8.602299,83.106385
2,-7.865174,-12.529950,7.865174,12.971247,0.000000e+00,0.441297,0.087167,0.435835,0.890796,-3.849302,0.913411,-2.963118,41.518879
3,7.865174,11.038520,-7.865174,-10.486898,0.000000e+00,0.551622,0.087167,0.871670,0.816132,-7.203060,0.789317,-8.602299,41.518879